body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: #8894a6;
}




.header {
    background-color: #2C3E50;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 0px;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url("https://github.com/reforest25/reforest/blob/main/pexels-megapixel-1481581.jpg?raw=true");
    background-size: cover; /* Makes the image cover the entire header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
}


.header h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 80px;
    color: white;
    margin: 0;
}

.header p{
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}



.bannertext {
    font-size: 8vh;
    font-weight: bold;
    color: #4a4a4a;
    text-align: center;
}

.banner {
    width: 150vh;
    height: auto;
    border-radius: 30px;
    margin-top: 220px;
    display: block;
}

.text {
    position: absolute;
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin-top: 30px
}


.intro {
  color: #4a4a4a;
  background-color: white;
  width: 60%;
  min-height: 80px;
  border-color: #4a4a4a;
  border-radius: 30px;
  border: 2px solid #ccc;
  display: block;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  margin-top: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.intro h1 {
  text-align: center;
}

.intro p {
  font-size: 20px;
}



.navbar {
    background-color: #1A252F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    padding: 0;
    margin-top: 10px;
    border-radius: 30px;
    width: 99%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    left: 9px;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 0;
    transition: background 0.3s;
    border-left: 2px solid transparent;
}

.navbar p {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #a6ef9c;
    text-align: left;
    display: block;
    margin: 0;
    top: 17px;
    position: absolute;
    left: 50px;
}

.navbar a:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: none;
}


.navbar a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 10px;
}


.navbar a:hover {
    background-color: #404f5e;
    color: white;
}

.content {
    flex-grow: 1;
    background-color: #f5f5f5;
    text-align: right;
    height: 500vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 30px;
    background-image: url("https://github.com/reforest25/reforest/blob/main/90dbf402730c059e0f106ce80d1d779a.jpg?raw=true");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


button {
    background-color: #f5a742;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #f7c179;
}


.content {
  background-color: #f5f5f5;
}

.about-section {
    text-align: center;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.about-section h2 {
    color: #2C3E50;
}
.about-section p {
    font-size: 18px;
    color: #4a4a4a;
}
